body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
}

#gameOver, #score, #powerUp {
    position: absolute;
    font-size: 24px;
}

#gameOver {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    font-family: monospace;
    text-align: center;
}


#score {
    top: 10px;
    left: 10px;
}

#powerUp {
    top: 40px;
    left: 10px;
}